/* Font link  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@400;500&family=Roboto:wght@300&display=swap');



body {
    margin: 0%;
    font-family: poppins;
}

main {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.top-banner {
    display: flex;
    color: white;
    background-color: black;

    width: 65vw;
    height: 70vh;
    padding: 0 8%;
    border-radius: 30px;

}

.banner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.banner-left h1 {

    font-size: 3vw;
    margin: 0;
    font-weight: 700;

}

.btn {
    padding: 1rem 1.5625rem;
    background-color: #D00;
    border: 1px solid #D00;
    color: white;
    border-radius: 5px;
}

.banner-right img {
    width: 25vw;
    height: 70vh;

}

.navbar {
    background-color: black;

    width: 20%;
    height: 220px;
    border-radius: 10px;

    margin-right: 25px;
}

.navbar ul {
    display: flex;

    display: inline;
}

.navbar ul li {
    list-style: none;

    /* width: 252px;
    height: 64px; */
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px 0px;
    color: black;
    background-color: white;
    border-radius: 15px;

    text-align: center;

}



.nav {
    text-decoration: none;
    /* 
    padding: 50px; */
    color: black;


}

.blog-list {
    display: flex;
    margin-top: 8%;
    margin-right: 150px;

}

.blogs-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    width: 50%;

}

.Blogs h2,
.btn-1,
.icon-part {
    margin-left: 25px;

}

.Blogs {
    border: 1px soild #E8E8E8;
    border-radius: 10px;
}

.btn-1 {
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    font-size: 16px;


}

.icon-part {
    display: inline;
    display: flex;
    align-items: center;
}

.icon-part p {
    margin-left: 5px;
    margin-right: 25px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h2 {
    padding: 5% 0%;
}

footer a {
    text-decoration: none;
    color: white;
    margin-left: 25px;

}

.ftr {
    margin-bottom: 2%;
}

/* Screen for Tablet */
@media only screen and (min-width: 688px)and (max-width:860px) {
    body {
        /* background-color: #D00; */

    }

    .top-banner {
        width: 70vw;
        height: 50vh;
    }

    .banner-right img {
        height: 50vh;
        width: 30vw;
    }

    .blog-list {
        flex-direction: column;
    }

    .blogs-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar {
        width: 140%;
        height: auto;
        background-color: white;

    }

    .navbar ul {
        display: flex;
        justify-content: space-between;

    }

    .nav {
        border: 1px solid #a5a5a5;
        width: 230px;
        height: 64px;
        padding: 20px 20px;
        border-radius: 5px;

    }

    .ftr {
        text-align: center;
        padding: 0px 45px;
    }


}